
<main class="content">
  <h1 class="formTexto">Quem Somos?</h1>
    <p class="formTexto">
    Somos uma iniciativa que começou como um pequeno projeto de estudantes
    universitários na Facens em Sorocaba. Apaixonados por sustentabilidade e pelo uso consciente dos
    recursos naturais. Nossa jornada começou com uma pergunta simples: como
    podemos ajudar as pessoas a entenderem e reduzirem seu consumo de água? Hoje,
    transformamos essa ideia inicial em uma ferramenta prática e acessível,
    oferecendo uma calculadora de consumo de água que permite que cada pessoa
    acompanhe e minimize seu impacto ambiental.
  </p>
  <img src="https://www.jornalcruzeiro.com.br/_midias/jpg/2022/03/22/facens-884919.jpg" alt="Facens-Sorocaba" class="contentimg">
</main>

