

<main class="content">
  <h1 class="formTexto">Bem-vindo(a) ao AquaSenso</h1>
  <section class="formTexto">
    <p >
      Economizar água nunca foi tão simples! Com nossa calculadora de consumo,
      você entende seu uso diário e encontra formas práticas de economizar. Essa
      ferramenta acessível ajuda você a fazer escolhas inteligentes que poupam
      recursos, beneficiam o planeta e ainda geram economia. Cada gota conta
      para um futuro mais sustentável - Junte-se a nós e faça a diferença!
    </p>
  </section>
  <section class="formTexto">
    <h2>Como podemos ajudar?</h2>
    <p >
      Queremos ajudar você a fazer escolhas conscientes que respeitem o meio
      ambiente. Com nossa calculadora de consumo de água, você pode visualizar
      claramente o quanto utiliza no dia a dia e receber sugestões práticas para
      economizar. Cada pequeno ajuste pode levar a grandes resultados!
    </p>
  </section>
  <section class="formTexto">
    <h2>Por que Economizar?</h2>
    <p  >
      A redução do consumo de água não é apenas uma escolha individual, mas uma
      responsabilidade coletiva. Ao tomar medidas para economizar, você não
      apenas alivia o impacto no seu bolso, mas também participa ativamente na
      preservação dos recursos naturais.
    </p>
  </section>
  <section class="formTexto">
    <h2>Porque nos escolher?</h2>
    <p  >
      Ao escolher o AquaSenso, você apoia uma iniciativa de estudantes dedicada
      à promoção da sustentabilidade e ao uso responsável da água. Nossa equipe
      criou uma ferramenta acessível para ajudá-lo a monitorar seu consumo e se
      comprometeu a educar a comunidade sobre a preservação dos recursos
      naturais. Juntos, podemos fazer a diferença!
    </p>
  </section>
</main>
